<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Loja de Brinquedo</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link para o CSS -->
</head>
<body>
<header>
    <div class="header-container">
        <h1>Bem-vindo à Loja de Brinquedo!</h1>
        <nav>
            <ul>
                <li><a href="/brinquedos/listar" class="btn btn-lista">Lista de Brinquedos</a></li>
                <li><a href="/logout" class="btn btn-danger">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        <h2>Sobre a Nossa Loja</h2>
        <p>
            Na Loja de Brinquedo, oferecemos uma vasta seleção de brinquedos de alta qualidade para todas as idades. Desde brinquedos educativos até os mais divertidos, garantimos que cada criança encontre algo que vai adorar!
        </p>
        <p>
            Nosso objetivo é proporcionar momentos de alegria e aprendizado através dos brinquedos, promovendo a criatividade e a imaginação das crianças.
        </p>
        <p>
            Navegue pelo nosso site para ver todos os nossos produtos e não hesite em nos contatar se tiver alguma dúvida!
        </p>
    </div>
</main>

<footer>
    <p>&copy; 2024 Loja de Brinquedo. Todos os direitos reservados.</p>
</footer>
</body>
</html>
